body {
    background: #262323;
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 40px;
}

h3 a {
    color: #fff;
    margin-left: 700px;
}

ul li {
    text-align: center;
    color: #fff;
    display: block;
}